<?php

class AppSettings
{

    const DATA_PATH = "";

    // If set to true, the application will use the MongoDB
    // specified under this. If set to false it will save registered
    // users in files on server (at the specified data path).
    const USE_DB = true;

    // MongoDB
    const MONGO_USERNAME = "";
    const MONGO_PASSWORD = "";
    const MONGO_IP = "";

}