<?php

class AppSettings
{

    /**
     * Dummy username and password before real register system is implemented.
     */
    const USERNAME = "Admin";
    const PASSWORD = "Password";

    /**
     * Data path that defines where files should be saved
     * (should probably not be a folder reachable for the user).
     */
    const DATA_PATH = "SECRET-PLACE";

}